<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    
    <p class="uix-config-menu">
        <a href="/config">Config</a>
        <a href="/config.create">Create</a> 
        <a href="/config.list">List</a>
    </p>
    
    <fieldset>
        <legend>List Institutions</legend>
        <table>
        	<tr>
        		<td>Institution</td>
        		<td>Address</td>
        		<td>Header Info</td>
                <td>Host</td>
                <td>Port</td>
        	</tr>

            <%if(institutions){%>
            	<%for( var item in institutions){%>
            		<tr>
            			<td>
                            <a href="/config.service/<%=institutions[item]._id%>">
                                <%=institutions[item].name%>
                            </a>
                        </td>
            			<td><%=institutions[item].address%></td>
            			<td><%=institutions[item].header%></td>
                        <td><%=institutions[item].host%></td>
                        <td><%=institutions[item].port%></td>
            			<td> 
                            <a href="/config.create/<%=institutions[item]._id%>">Edit</a>
                            <a href="/config.delete/<%=institutions[item]._id%>">Delete</a>
                        </td>
            		</tr>
            	<%}%>
            <%}%>
        </table>
    </fieldset>

  </body>

</html>